.homepagebutton {
	box-shadow:inset -9px 60px 0px -16px #03da0e;
	background-color:#0b8300;
	border-radius:4px;
	border:7px solid #000000;
	display:inline-block;
	cursor: pointer;
	color:black ;
	font-family:Arial;
	font-size:15px;
	padding:20px 80px;
	text-decoration:none;
}
.homepagebutton:hover {
	box-shadow:inset -9px 60px 0px -16px #09e4a2;
	background-color:#02a164;
}
.homepagebutton:active {
	position:relative;
	top:2.5px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
  
  .topnav {
    overflow: hidden;
    background-color: #333;
}
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
  .topnav a:hover {
    background-color: #05e072;
    color: black;
}
  
  .topnav a.active {
    background-color: rgb(0, 255, 13);
    color: rgb(0, 0, 0);
}

.logoImage {
    border-radius: 20px;
}

/* bluring the image */
.gfg { 
    width: 100%; 
} 
          
/* designing title and tag line */
.logo { 
    text-align:center; 
    position: absolute; 
    font-size: 18px; 
    top: 40px; 
    left: 37%; 
    color: rgb(255, 255, 255); 
} 
.titleText { 
    border: 4px solid white; 
    padding: 60px 50px; 
    position: relative; 
    border-radius: 30px; 
    font-family: Arial, Helvetica, sans-serif; 
} 
.titleText:hover { 
    background: -webkit-linear-gradient( rgb(255, 255, 255), white); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
} 
          
/* Designing button */
.logo button { 
    border: none; 
    outline: 0; 
    display: inline-block; 
    padding: 10px 25px; 
    color: black; 
    background-color: #ddd; 
    text-align: center; 
    cursor: pointer
} 
.logo button:hover { 
    background-color: green; 
    color: white; 
} 

.playSelect {
	background-color:#2c2c2c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:25px 600px;
	text-decoration:none;
}
.playSelect:hover {
	background-color: rgb(0, 255, 0);
	color: black;
}
.playSelect:active {
	position:relative;
	top:1px;
}

.rainbow {
    animation-name: colours;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes colours {
    0%   {color: rgb(255, 238, 0);}
    25%  {color: rgb(0, 255, 21);}
    50%  {color: rgb(0, 204, 255);}
    75% {color: rgb(255, 0, 221);}
    100%   {color: rgb(255, 238, 0);}
}